@import '../helpers/variables';

.about {
  justify-content: center;
  display: grid;
  grid-template-columns: min-content 30%;
  grid-template-rows: max-content;
}

.like {
  text-align: center;
  grid-column: 1/3;
  font-family: $heading-font;
}

.description {
  font-family: $body-font;
}

.selfie {
  height: 18em;
  margin-right: 30px;
}