@import '../helpers/variables';

.about {
  display: grid;
  grid-template-columns: min-content 80%;
  grid-template-rows: max-content;
}

.like {
  font-family: $heading-font;
}

.description {
  font-family: $body-font;
}

.selfie {
  grid-row: 1/3;
  height: 18em;
  margin-right: 30px;
}