@import '../helpers/variables';

body {
  margin: 0;
  display: flex;
}

.homeItem {
  margin-top: 80px;
  background-color: $background-color;
  text-align: center;
  padding-bottom: 300px;
  padding-top: 45px;
  margin-bottom: 100px;
}

.aboutItem {
  margin-bottom: 100px;
}

.projectsItem {
  background-color: $background-color;
  margin-bottom: 50px;
  padding: 25px 0 25px 0;
}

.contactItem {
  margin-bottom: 10%;
}