@import '../helpers/variables';

.home {
  display: inline-block;
}

.homeWrapper1 {
  position: relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.webDeveloper {
  opacity: 0;
  animation: fade-in ease 3s forwards;
  color: $base-color;
  font-family: $webDev-font;
  font-size: 10em;
  margin-bottom: 30px;
  text-shadow: 0px 0px 1px black;
}

.underline {
  opacity: 0;
  animation: fade-in ease 3s forwards;
  animation-delay: 0.5s;
  width: 80%;
  border: 0;
  border-top: 5px double lightslategrey;
}

.homeWrapper2 > span {
  opacity: 0;
  animation: fade-in ease 2s forwards;
}

.homeWrapper2 {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: $dashed;
  text-shadow: 0 0 5px;
}

@for $i from 1 through 3 {
  .homeWrapper2 span:nth-child(#{$i}) {
    animation-delay: #{($i + 1) * 0.7}s;
  }
}

// @media only screen and (max-width: 800px) {
//   .webDeveloper {
//     font-size: 90px;
//   }
// }
