.navBar {
  position: fixed;
  background-color: blue;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.logoName {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  .sections {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }
}

