@import '../helpers/variables';
@import '../helpers/placeholders';

%projectSpecs {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

%links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

%link-specs {
  text-shadow: 1px 1px 0;
  color: dimgray;
  font-weight: 600;
  &:hover {
    color: $base-color;
  }
}

.projects {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.projectsTitle {
  grid-column: 1/3;
  text-align: center;
  @extend %heading-font-specs;
}

.shoedidas {
  @extend %projectSpecs;
}

.shoedidasLogo {
  background-color: black;
  border-radius: 30px;
  height: 9em;
}

.shoedidasTitle {
  font-family: $body-font;
}

.shoedidasDescription {
  @extend %body-font-specs;
}

.shoedidasLinks {
  @extend %links;
  @extend %body-font-specs;
}

.gomoku {
  @extend %projectSpecs;
}

.gomokuLogo {
  border-radius: 30px;
  height: 9em;
}

.gomokuTitle {
  font-family: $body-font;
}

.gomokuDescription {
  @extend %body-font-specs;
}

.gomokuLinks {
  @extend %links;
  @extend %body-font-specs;
}

.shoeGit {
  @extend %link-specs;
}

.shoeLink {
  @extend %link-specs;
}

.goGit {
  @extend %link-specs;
}

.goLink {
  @extend %link-specs;
}